

docutils<0.18
scipy~=1.5.4
sphinx
sphinx-gallery
sphinx_rtd_theme~=0.4.3
autodoc
scikit-image
imageio
datetime~=4.3
h5py~=2.10.0
pyserial~=3.4
pillow>=8.3.2
setuptools~=50.3.1
scipy~=1.4.1
matplotlib~=3.3.3
pynwb~=1.5.1
opencv-python~=4.4.0.46
vidgear~=0.1.5
mock~=3.0.5
future~=0.18.2
python-dateutil~=2.8.0
numpy~=1.19
tqdm~=4.50.2
scikit-learn~=0.23.2
joblib~=0.17.0
pandas~=1.1.4