numpy~=1.18.4
pandas~=1.0.3
scipy~=1.4.1
sphinx
sphinx-gallery
sphinx_rtd_theme~=0.4.3
autodoc
numpy~=1.18.1
datetime~=4.3
h5py~=2.10.0
pyserial~=3.4
pillow~=7.0.0
setuptools~=46.1.3
pandas~=1.0.3
scipy~=1.4.1
matplotlib~=3.1.3
pynwb~=1.3.0
opencv-python~=3.4.9.33
vidgear~=0.1.5
mock~=3.0.5
future~=0.18.2
python-dateutil~=2.8.0